<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rachelgrau.rachel.health4theworldstroke">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.rachelgrau.rachel.health4theworldstroke.Activities.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.rachelgrau.rachel.health4theworldstroke.Activities.HelpMeSpeakActivity" />
        <activity android:name="com.rachelgrau.rachel.health4theworldstroke.Activities.LearnActivity" />
        <activity android:name="com.rachelgrau.rachel.health4theworldstroke.Activities.RemindersActivity" />
        <activity android:name="com.rachelgrau.rachel.health4theworldstroke.Activities.ReadContentActivity" />
        <activity android:name="com.rachelgrau.rachel.health4theworldstroke.Activities.VideoContentActivity" />
        <activity android:name="com.rachelgrau.rachel.health4theworldstroke.Activities.CreateReminderActivity" />
        <activity android:name="com.rachelgrau.rachel.health4theworldstroke.Activities.InfoActivity" />
        <activity android:name="com.rachelgrau.rachel.health4theworldstroke.Activities.DisclaimerActivity" />
        <activity android:name="com.rachelgrau.rachel.health4theworldstroke.Activities.InfoListActivity"></activity>
    </application>

</manifest>